*_log.txt
.idea
.vscode
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
env/
venv/
ENV/
.venv/
ENV/
.ipynb_checkpoints
*.pyo
*.pyd
*.pdb
*.sqlite3
*.db
*.log
*.pot
*.mo
*.pyc
*.pyo
*.pyd
*.pdb
*.sqlite3
*.db
*.log
*.pot
*.mo
.env

hy2_config.yaml
client.py/hy2_config.yaml